<!DOCTYPE html>
<html>
  <head>
    <title>ContactsApp</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <!--<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  -->
  <%= react_component('NavBar', {user:current_user, user_signed_in:user_signed_in?} ) %>
  <div id="pageContent">
    <%= yield %>
  </div>
  </body>
</html>
