<!DOCTYPE html>
<html>
<head>
  <title>ContactsApp</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= react_component('NavBar', {user:current_user, user_signed_in:user_signed_in?} ) %>
<div class="alerts">
  <% if flash[:notice] %>
      <div class="alert alert-success text-center alerts-msg">
        <%= flash[:notice] %>
      </div>
  <% elsif flash[:alert] %>
      <div class="alert alert-warning text-center alerts-msg">
        <%= flash[:alert] %>
      </div>
  <% elsif flash[:error] %>
      <div class="alert alert-danger text-center alerts-msg">
        <%= flash[:error] %>
      </div>
  <% end %>
</div>
<%= yield %>
</body>
</html>
